TrackingDeviceMonitor/Service References/DeviceTrackingServiceReference/WCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50680/WCFService.svc?xsd=xsd2" />
  <xs:element name="getAllTrackingDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTrackingDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllTrackingDevicesResult" nillable="true" type="ArrayOfTrackingDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrackingDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrackingDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTrackingDeviceResult" nillable="true" type="TrackingDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>